.container3{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.totalPrice{
    text-align: center;
}

.Init{
    text-decoration: none;
}

.emptyCart{
    margin: 10px;
}

.finish{
    margin: 10px;
}